*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    background-color: #C85C8E;
    width: 100%;  
    padding: 20PX;
    margin: auto;

    display: flex;
    flex-wrap:wrap;
    
}

.box1 {
    width: 100%;
    background-color: #7B2869;
    height: 300PX;
}

.box2 {
    width: 100%;
    background-color: #FFBABA;
    height: 200PX;
    

}
.box3 {
    width: 50%;
    background-color: #FFBABA;
    height: 200PX;
}

.box4 {
    width: 50%;
    background-color: #FFBABA;
    height: 200PX;
}

.box5 {
    width: 100%;
    background-color: #7B2869;
    height:150px;
}


@media all and (max-width:420px) {
    .box3, .box4, .box5 {
        width: 100%;
    }
}