hr {
    border: dotted $color-highlight 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-cloud {
    position: absolute;
    left: 260px;
    top: 60px;
}

.bottom-cloud {
    position: absolute;
    right: 200px;
    top: 450px;
}