.container {
    background-color: $color-bg;
    width: 100%;
    padding: 20PX;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
}

.box1 {
    width: 100%;
    background-color: $color-box1;
    height: auto;
}

.box2 {
    width: 100%;
    background-color: $color-box2;
    height: auto;
}

.box3 {
    width: 50%;
    background-color: $color-box2;
    height: $height-box3;
}

.box4 {
    width: 50%;
    background-color: $color-box2;
    height: $height-box4;
}

.box5 {
    width: 100%;
    background-color: $color-box1;
    height: $height-box5;
}

.intro {
    width: 50%;
    margin: auto;
}

.teachericon {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.computericon {
    width: 25%;
    float: right;
    margin-left: 30px;
}