$color-bg: #C85C8E;
$color-heading: aliceblue;
$font-heading: 'Sacramento', cursive;
$font-body: 'Montserrat', sans-serif;
$color-body: black;
$color-highlight: #9D3C72;
$color-box1: #7B2869;
$color-box2: #FFBABA;
$height-box3: 200px;
$height-box4: 200px;
$height-box5: 150px;
$color-footer-bg: #7B2869;
$color-footer-link: #fff;
$color-footer-link-hover: #ccc;
$footer-link-size: 24px;